.card{
  width: 171px;
  height: 250px;
  border-radius: 2vmin;
  transform-style: preserve-3d;
  box-shadow: 1vmin 0vmin 2vmin rgb(0 0 0 / 19%), inset 3px -4px 0px 0px rgb(88 88 88 / 65%);
  background-color: #fff;
  /* box-shadow: 0px 0px 10px rgba(0,0,0,0.5); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.35s ease-out, box-shadow 0.35s ease-out; 
}
/* screens of 450px width or less */
@media screen and (max-width: 450px) {
  .card{
    width: 150px;
    height: 150px;
  }
  .soort_img{
    mask-size: 50% !important;
  }
}
.bgFront{
  position: absolute;
  width: 200px;
  height: 300px;
}
.card.front{
  width: 200px;
  height: 300px;
}
.card.back:hover{
  box-shadow: -0.5vmin 4vmin 3vmin rgb(0 0 0 / 10%), inset -5px 3px 0px 0px rgb(92 92 92 / 44%);
  transform: rotateX( 7deg) rotateZ( 4deg) rotateY( 23deg) translateZ(0px) rotateX( 9deg);
}
.question,.answer{
  text-align: center;
  margin-left:5px;
  margin-right:5px;
}
.question{
  margin-top: 15px;
  font-size: large;
  font-weight: 600;
}
.answer{
  margin-bottom: 15px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 25px 25px;
}

.soort{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
.soort_img{
  width: 100%;
  height: 100%;
}

.soortA{
  background: repeating-conic-gradient(#2d51b6 0% 25%, transparent 0% 50%) 50% / 20px 20px;
  background-color: #2747a0;
}
.soortA_img{
  mask: url(/soortA.svg) no-repeat center;
  background-color:#fff;
}
.bgA{
  mask: url(/soortA.svg) no-repeat center;
  background-color:#2747a02a;
}

.soortC{
  background: repeating-conic-gradient(#c728bf 0% 25%, transparent 0% 50%) 50% / 20px 20px;
  background-color: #b625af;
}
.soortC_img{
  mask: url(/soortC.svg) no-repeat center;
  background-color:#fff;
}
.bgC{
  mask: url(/soortC.svg) no-repeat center;
  background-color:#b625af14;
}

.soortG{
  background: repeating-conic-gradient(#c4b31f 0% 25%, transparent 0% 50%) 50% / 20px 20px;
  background-color: #ac9d1c;
}
.soortG_img{
  mask: url(/soortG.svg) no-repeat center;
  background-color:#fff;
}
.bgG{
  mask: url(/soortG.svg) no-repeat center;
  background-color:#ac9d1c14;
}

.soortN{
  background: repeating-conic-gradient(#2aac5c 0% 25%, transparent 0% 50%) 50% / 20px 20px;
  background-color: #228d4b;
}
.soortN_img{
  mask: url(/soortN.svg) no-repeat center;
  background-color:#fff;
}
.bgN{
  mask: url(/soortN.svg) no-repeat center;
  background-color:#228d4b14;
}

.soortW{
  background: repeating-conic-gradient(#b42d38 0% 25%, transparent 0% 50%) 50% / 20px 20px;
  background-color: #92242d;
}
.soortW_img{
  mask: url(/soortW.svg) no-repeat center;
  background-color:#fff;
}
.bgW{
  mask: url(/soortW.svg) no-repeat center;
  background-color:#92242d14;
}

.background{
  background-image: url("/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}